<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Internet permission for transcription or API calls -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Granular media permissions for Android 13+ -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        android:required="false"
        tools:targetApi="33" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:required="false"
        tools:targetApi="33" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        android:required="false"
        tools:targetApi="33" /> <!-- Legacy storage permissions with maxSdkVersion for Android 10+ -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SelectRole"
            android:exported="false" />
        <activity
            android:name=".DictionaryActivity"
            android:exported="false" />
        <activity
            android:name=".BasicTest"
            android:exported="false" />
        <activity android:name=".TenseTest" android:exported="false"/>
        <activity android:name=".PrepositionTest" android:exported="false"/>
        <activity android:name=".ArticleTest" android:exported="false"/>
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".LearningActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackAcitivity"
            android:exported="false" />
        <activity
            android:name=".AboutPageAcitivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" /> <!-- Splash Screen Activity as Launcher -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            tools:ignore="MissingClass" /> <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            tools:ignore="MissingClass" /> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="MissingClass" /> <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="true" /> <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AudioCallActivity"
            android:exported="true"
            tools:ignore="MissingClass" />
        
    </application>

</manifest>